.container {
    width: 400px;
    height: 90vh;
    padding: 20px;
    border-radius: 25px;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,252,253,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,252,253,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,252,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2dfcfd",GradientType=1);
    @extend %tc;

    h1, h2 {
        margin: 0;
        padding-bottom: 1rem;
    }

    h1 {
        text-decoration: underline;
        text-decoration-color: $baby-blue; 
        text-decoration-style: wavy; 
    }

    // #btnContainer {

    // }

    button {
        margin: 0 0.1rem 0 0.1rem;
        padding: 1rem;
        border-radius: 20px;
        border: 0;
        background: $btn-blue;
        color: $white;
        cursor: pointer;
    }

    #closeCustom {
        cursor: pointer;
    }

    input {
        margin-top: 1rem;
        background: $btn-blue;
        color: $white;
        padding: 1rem;
        border: 0;
        border-radius: 20px;
        outline: 0;

        &::placeholder {
            color: $white;
        }
    }
}